:root {
    font-size: 100%;

    /* Variables */

    /* Global color variables */

    --color-red-100: hsl(356, 100%, 97%);
    --color-red-200: hsl(356, 100%, 95%);
    --color-red-300: hsl(356, 100%, 90%);
    --color-red-400: hsl(356, 96%, 82%);
    --color-red-500: hsl(351, 95%, 71%);
    --color-red-600: hsl(350, 89%, 60%);
    --color-red-700: hsl(347, 77%, 50%);
    --color-red-800: hsl(345, 83%, 41%);
    --color-red-900: hsl(343, 80%, 35%);
    --colour-white: hsl(0, 0%, 100%);
    --colour-grey:  hsl(215, 28%, 17%);

    /* background color */
     --color-background: var(--colour-grey);

    /* button */
    --color-button: var(--color-red-600);


}

*, 
*::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif ;
    font-weight: 400;
}

h1, h2, h3 {
    font-weight: 800;
    margin: 0;
}